[submodule "roles/samba"]
	path = roles/samba
	url = git@github.com:mrbrandao/samba.git
[submodule "roles/transmission"]
	path = roles/transmission
	url = git@github.com:mrbrandao/transmission.git
[submodule "roles/gogs-quadlet"]
	path = roles/gogs-quadlet
	url = https://github.com/mrbrandao/gogs-quadlet.git
[submodule "roles/unifi"]
	path = roles/unifi
	url = https://github.com/mrbrandao/unifi.git
[submodule "roles/gogs"]
	path = roles/gogs
	url = https://github.com/mrbrandao-roles/gogs.git
